@model Javo2.ViewModels.Operaciones.Productos.ProductosViewModel
<pre>@Html.Raw(Json.Serialize(Model))</pre>

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Descripcion" class="form-label"></label>
            <textarea asp-for="Descripcion" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PCosto" class="form-label"></label>
            <input asp-for="PCosto" class="form-control" />
            <span asp-validation-for="PCosto" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PContado" class="form-label"></label>
            <input asp-for="PContado" class="form-control" />
            <span asp-validation-for="PContado" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PLista" class="form-label"></label>
            <input asp-for="PLista" class="form-control" />
            <span asp-validation-for="PLista" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PorcentajeIva" class="form-label"></label>
            <input asp-for="PorcentajeIva" class="form-control" />
            <span asp-validation-for="PorcentajeIva" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="SelectedRubroID" class="form-label">Rubro</label>
            <select asp-for="SelectedRubroID" class="form-control" asp-items="Model.Rubros" id="rubroSelect"></select>
            <span asp-validation-for="SelectedRubroID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SelectedSubRubroID" class="form-label">SubRubro</label>
            <select asp-for="SelectedSubRubroID" class="form-control" asp-items="Model.SubRubros" id="subRubroSelect"></select>
            <span asp-validation-for="SelectedSubRubroID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SelectedMarcaID" class="form-label">Marca</label>
            <select asp-for="SelectedMarcaID" class="form-select" asp-items="Model.Marcas"></select>
            <span asp-validation-for="SelectedMarcaID" class="text-danger"></span>
        </div>
    </div>
</div>
