@model javo2.ViewModels.Operaciones.Productos.ProductosViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCosto" class="control-label"></label>
                <input asp-for="PCosto" class="form-control" />
                <span asp-validation-for="PCosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PContado" class="control-label"></label>
                <input asp-for="PContado" class="form-control" />
                <span asp-validation-for="PContado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PLista" class="control-label"></label>
                <input asp-for="PLista" class="form-control" />
                <span asp-validation-for="PLista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcentajeIva" class="control-label"></label>
                <input asp-for="PorcentajeIva" class="form-control" />
                <span asp-validation-for="PorcentajeIva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRubroId" class="control-label"></label>
                <select asp-for="SelectedRubroId" class="form-control" asp-items="Model.Rubros"></select>
                <span asp-validation-for="SelectedRubroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSubRubroId" class="control-label"></label>
                <select asp-for="SelectedSubRubroId" class="form-control" asp-items="Model.SubRubros"></select>
                <span asp-validation-for="SelectedSubRubroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMarcaId" class="control-label"></label>
                <select asp-for="SelectedMarcaId" class="form-control" asp-items="Model.Marcas"></select>
                <span asp-validation-for="SelectedMarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
