@model Javo2.ViewModels.Operaciones.Productos.ProductosViewModel

@{
    ViewBag.Title = "Editar Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <partial name="_ProductosForm" model="Model" />

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
