@model Javo2.ViewModels.Operaciones.Clientes.ClientesViewModel

<input type="hidden" asp-for="ClienteID" />
<input asp-for="Verificar" class="form-check-input" type="hidden" />
<input asp-for="EstadoComentario" class="form-control" type="hidden" readonly />
<input asp-for="ModificadoPor" class="form-control" type="hidden" readonly />
<input asp-for="DeudaTotal" class="form-control" type="hidden" readonly />
<input asp-for="Saldo" class="form-control" type="hidden" readonly />

<div class="container">
    <fieldset class="mb-4">
        <legend>Datos del Cliente</legend>
        <div class="row g-3">
            @* Datos del Cliente *@
            <div class="col-md-6 form-group">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="DNI" class="form-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Celular" class="form-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="TelefonoTrabajo" class="form-label"></label>
                <input asp-for="TelefonoTrabajo" class="form-control" />
                <span asp-validation-for="TelefonoTrabajo" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <fieldset class="mb-4">
        <legend>Datos Domiciliarios</legend>
        <div class="row g-3">
            @* Datos Domiciliarios *@
            <div class="col-md-6 form-group">
                <label asp-for="Calle" class="form-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NumeroCalle" class="form-label"></label>
                <input asp-for="NumeroCalle" class="form-control" />
                <span asp-validation-for="NumeroCalle" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NumeroPiso" class="form-label"></label>
                <input asp-for="NumeroPiso" class="form-control" />
                <span asp-validation-for="NumeroPiso" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Dpto" class="form-label"></label>
                <input asp-for="Dpto" class="form-control" />
                <span asp-validation-for="Dpto" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Localidad" class="form-label"></label>
                <input asp-for="Localidad" class="form-control" />
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="CodigoPostal" class="form-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="DescripcionDomicilio" class="form-label"></label>
                <input asp-for="DescripcionDomicilio" class="form-control" />
                <span asp-validation-for="DescripcionDomicilio" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="ProvinciaID" class="control-label"></label>
                <select asp-for="ProvinciaID" class="form-control" asp-items="Model.Provincias" id="provinciaDropdown">
                    <option value="">Seleccione una provincia</option>
                </select>
                <span asp-validation-for="ProvinciaID" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="CiudadID" class="control-label"></label>
                <select asp-for="CiudadID" class="form-control" asp-items="Model.Ciudades" id="ciudadDropdown">
                    <option value="">Seleccione una ciudad</option>
                </select>
                <span asp-validation-for="CiudadID" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <details class="mb-4">
        <summary>Garante</summary>
        <fieldset>
            <legend>Garante</legend>
            <div class="row g-3">
                @* Datos del Garante *@
                <div class="col-md-6 form-group">
                    <label asp-for="NombreGarante" class="form-label"></label>
                    <input asp-for="NombreGarante" class="form-control" />
                    <span asp-validation-for="NombreGarante" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="ApellidoGarante" class="form-label"></label>
                    <input asp-for="ApellidoGarante" class="form-control" />
                    <span asp-validation-for="ApellidoGarante" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="DNIGarante" class="form-label"></label>
                    <input asp-for="DNIGarante" class="form-control" />
                    <span asp-validation-for="DNIGarante" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="TelefonoGarante" class="form-label"></label>
                    <input asp-for="TelefonoGarante" class="form-control" />
                    <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
    </details>

    <details class="mb-4">
        <summary>Cónyuge</summary>
        <fieldset>
            <legend>Cónyuge</legend>
            <div class="row g-3">
                @* Datos del Cónyuge *@
                <div class="col-md-6 form-group">
                    <label asp-for="NombreConyugue" class="form-label"></label>
                    <input asp-for="NombreConyugue" class="form-control" />
                    <span asp-validation-for="NombreConyugue" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="ApellidoConyugue" class="form-label"></label>
                    <input asp-for="ApellidoConyugue" class="form-control" />
                    <span asp-validation-for="ApellidoConyugue" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="NumeroDNIConyugue" class="form-label"></label>
                    <input asp-for="NumeroDNIConyugue" class="form-control" />
                    <span asp-validation-for="NumeroDNIConyugue" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Autoriza" class="form-label"></label>
                    <input asp-for="Autoriza" class="form-check-input" type="checkbox" />
                    <span asp-validation-for="Autoriza" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
    </details>
    <details class="mb-4">
        <summary>Cliente Autorizado</summary>
        <fieldset>
            <legend>Cliente Autorizado</legend>
            <div class="row g-3">
                @* Cliente Autorizado *@
                
                <div class="col-md-6 form-group">
                    <label asp-for="ClienteAutorizado" class="form-label"></label>
                    <input asp-for="ClienteAutorizado" class="form-check-input" type="checkbox" />
                    <span asp-validation-for="ClienteAutorizado" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
    </details>
</div>
