@model javo2.ViewModels.Operaciones.Productos.SubRubroViewModel

@{
    ViewBag.Title = "Eliminar SubRubro";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro que desea eliminar este subrubro?</h3>
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
    </dl>

    <form asp-action="DeleteSubRubro">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
