@using Javo2.ViewModels.Operaciones.Catalogo
@model Tuple<IEnumerable<RubroViewModel>, IEnumerable<MarcaViewModel>>

@{
    ViewBag.Title = "Catálogo";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="CreateRubro" class="btn btn-primary">Agregar Rubro</a>
    <a asp-action="CreateMarca" class="btn btn-success">Agregar Marca</a>
</p>

<h3>Filtrar Catálogo</h3>
<form id="filterForm">
    <div class="form-group">
        <label for="Rubro">Nombre del Rubro</label>
        <input type="text" class="form-control" id="Rubro" name="Rubro" />
    </div>
    <div class="form-group">
        <label for="Marca">Nombre de la Marca</label>
        <input type="text" class="form-control" id="Marca" name="Marca" />
    </div>
</form>


<div id="catalogoTable">
    <partial name="_CatalogoTable" model="Model" />
</div>

@section Scripts {
    <script>
        $(function () {
            $('#Rubro, #Marca').on('input', function () {
                $.ajax({
                    url: '@Url.Action("Filter", "Catalogo")',
                    data: $('#filterForm').serialize(),
                    type: 'get',
                    success: function (data) {
                        $('#catalogoTable').html(data);
                    }
                });
            });
        });
    </script>

}
