@model Javo2.ViewModels.Operaciones.Proveedores.ProveedoresViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Direccion" class="form-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Telefono" class="form-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CondicionesPago" class="form-label"></label>
            <input asp-for="CondicionesPago" class="form-control" />
            <span asp-validation-for="CondicionesPago" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label>Productos Asignados</label>
            <input type="text" id="productSearch" class="form-control" placeholder="Buscar productos..." autocomplete="off" />
            <ul id="assignedProducts" class="list-group mt-2">
                @for (int i = 0; i < Model.ProductosAsignados.Count; i++)
                {
                    var productID = Model.ProductosAsignados[i];
                    var productName = Model.ProductosAsignadosNombres.Count > i ? Model.ProductosAsignadosNombres[i] : "Nombre no disponible";

                    <li class="list-group-item d-flex justify-content-between align-items-center" data-id="@productID">
                        @productName
                        <button type="button" class="btn btn-link btn-sm remove-product">Eliminar</button>
                        <input type="hidden" name="ProductosAsignados" value="@productID" />
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
