<!-- Views/Home/Error.cshtml -->
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ocurrió un error</h1>
<p>Lo sentimos, ha ocurrido un error en la aplicación. Por favor, inténtalo de nuevo más tarde.</p>
