/* _content/Javo2/Views/Shared/_ActionButtons.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nlmf65n1j5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nlmf65n1j5] {
  color: #0077cc;
}

.btn-primary[b-nlmf65n1j5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nlmf65n1j5], .nav-pills .show > .nav-link[b-nlmf65n1j5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nlmf65n1j5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nlmf65n1j5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nlmf65n1j5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nlmf65n1j5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nlmf65n1j5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_Alerts.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-u2xt8y4ntj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-u2xt8y4ntj] {
  color: #0077cc;
}

.btn-primary[b-u2xt8y4ntj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-u2xt8y4ntj], .nav-pills .show > .nav-link[b-u2xt8y4ntj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-u2xt8y4ntj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-u2xt8y4ntj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-u2xt8y4ntj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-u2xt8y4ntj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-u2xt8y4ntj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_AuthLayoutBase.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lanf1e18sb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lanf1e18sb] {
  color: #0077cc;
}

.btn-primary[b-lanf1e18sb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lanf1e18sb], .nav-pills .show > .nav-link[b-lanf1e18sb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lanf1e18sb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lanf1e18sb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lanf1e18sb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lanf1e18sb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lanf1e18sb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_AuthManagementMenu.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hx4a51xa59] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hx4a51xa59] {
  color: #0077cc;
}

.btn-primary[b-hx4a51xa59] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hx4a51xa59], .nav-pills .show > .nav-link[b-hx4a51xa59] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hx4a51xa59] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hx4a51xa59] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hx4a51xa59] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hx4a51xa59] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hx4a51xa59] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_ConfirmDelete.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7t0op722z3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7t0op722z3] {
  color: #0077cc;
}

.btn-primary[b-7t0op722z3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7t0op722z3], .nav-pills .show > .nav-link[b-7t0op722z3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7t0op722z3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7t0op722z3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7t0op722z3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7t0op722z3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7t0op722z3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_ConfNav.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rol0url5oz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rol0url5oz] {
  color: #0077cc;
}

.btn-primary[b-rol0url5oz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rol0url5oz], .nav-pills .show > .nav-link[b-rol0url5oz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rol0url5oz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rol0url5oz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rol0url5oz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rol0url5oz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rol0url5oz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_CrudForm.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e1fzuau2eh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e1fzuau2eh] {
  color: #0077cc;
}

.btn-primary[b-e1fzuau2eh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e1fzuau2eh], .nav-pills .show > .nav-link[b-e1fzuau2eh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e1fzuau2eh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e1fzuau2eh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e1fzuau2eh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e1fzuau2eh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e1fzuau2eh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_DetailsView.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ujcpb0tlmw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ujcpb0tlmw] {
  color: #0077cc;
}

.btn-primary[b-ujcpb0tlmw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ujcpb0tlmw], .nav-pills .show > .nav-link[b-ujcpb0tlmw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ujcpb0tlmw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ujcpb0tlmw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ujcpb0tlmw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ujcpb0tlmw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ujcpb0tlmw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_DireccionPartial.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9ddmk9hojc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9ddmk9hojc] {
  color: #0077cc;
}

.btn-primary[b-9ddmk9hojc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9ddmk9hojc], .nav-pills .show > .nav-link[b-9ddmk9hojc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9ddmk9hojc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9ddmk9hojc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9ddmk9hojc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9ddmk9hojc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9ddmk9hojc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_EntityTable.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cuhqugs8xt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cuhqugs8xt] {
  color: #0077cc;
}

.btn-primary[b-cuhqugs8xt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cuhqugs8xt], .nav-pills .show > .nav-link[b-cuhqugs8xt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cuhqugs8xt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cuhqugs8xt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cuhqugs8xt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cuhqugs8xt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cuhqugs8xt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_FilterForm.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6omdjz0xv1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6omdjz0xv1] {
  color: #0077cc;
}

.btn-primary[b-6omdjz0xv1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6omdjz0xv1], .nav-pills .show > .nav-link[b-6omdjz0xv1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6omdjz0xv1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6omdjz0xv1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6omdjz0xv1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6omdjz0xv1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6omdjz0xv1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-00ej754aq7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-00ej754aq7] {
  color: #0077cc;
}

.btn-primary[b-00ej754aq7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-00ej754aq7], .nav-pills .show > .nav-link[b-00ej754aq7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-00ej754aq7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-00ej754aq7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-00ej754aq7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-00ej754aq7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-00ej754aq7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-aydsdpjbce] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-aydsdpjbce] {
  color: #0077cc;
}

.btn-primary[b-aydsdpjbce] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-aydsdpjbce], .nav-pills .show > .nav-link[b-aydsdpjbce] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-aydsdpjbce] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-aydsdpjbce] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-aydsdpjbce] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-aydsdpjbce] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-aydsdpjbce] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_ProductosTable.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ag907eex51] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ag907eex51] {
  color: #0077cc;
}

.btn-primary[b-ag907eex51] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ag907eex51], .nav-pills .show > .nav-link[b-ag907eex51] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ag907eex51] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ag907eex51] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ag907eex51] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ag907eex51] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ag907eex51] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_SecurityNav.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z5ze1vfqhb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z5ze1vfqhb] {
  color: #0077cc;
}

.btn-primary[b-z5ze1vfqhb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z5ze1vfqhb], .nav-pills .show > .nav-link[b-z5ze1vfqhb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z5ze1vfqhb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z5ze1vfqhb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z5ze1vfqhb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z5ze1vfqhb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z5ze1vfqhb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_SummaryCards.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ii20q6o1eu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ii20q6o1eu] {
  color: #0077cc;
}

.btn-primary[b-ii20q6o1eu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ii20q6o1eu], .nav-pills .show > .nav-link[b-ii20q6o1eu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ii20q6o1eu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ii20q6o1eu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ii20q6o1eu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ii20q6o1eu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ii20q6o1eu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Javo2/Views/Shared/_UserInfo.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-eyb0i7qkbv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-eyb0i7qkbv] {
  color: #0077cc;
}

.btn-primary[b-eyb0i7qkbv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-eyb0i7qkbv], .nav-pills .show > .nav-link[b-eyb0i7qkbv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-eyb0i7qkbv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-eyb0i7qkbv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-eyb0i7qkbv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-eyb0i7qkbv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-eyb0i7qkbv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
