@model Javo2.ViewModels.Operaciones.Clientes.ClientesViewModel
@{
    ViewBag.Title = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<!-- Partial de confirmación -->
@await Html.PartialAsync("_ConfirmDelete", $"Cliente: {Model.Nombre} {Model.Apellido}")

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ClienteID" />
    <button type="submit" class="btn btn-danger me-2">
        <i class="bi bi-trash me-2"></i> Eliminar
    </button>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-x-circle me-2"></i> Cancelar
    </a>
</form>

@section Scripts {
 <script src="~/js/Clientes/Delete.js"></script>
 }
