@model IEnumerable<Javo2.ViewModels.Operaciones.Clientes.ClientesViewModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row mb-4">
    <div class="col-md-3">
        <select class="form-control" id="filterField">
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="dni">DNI</option>
            <option value="email">Email</option>
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="filterValue" placeholder="Ingrese valor del filtro">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="clientesTableBody">
        @await Html.PartialAsync("_ClientesTable", Model)
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Agregar Cliente</a>

@section Scripts {
    <script>
        $(document).ready(function () {
            var filters = {};

            function applyFilters() {
                $.get('@Url.Action("Filter", "Clientes")', filters, function (data) {
                    $('#clientesTableBody').html(data);
                });
            }

            $('#filterField, #filterValue').on('input', function () {
                var field = $('#filterField').val();
                var value = $('#filterValue').val();
                if (field && value) {
                    filters[field] = value;
                } else {
                    delete filters[field];
                }
                applyFilters();
            });
        });
    </script>
}
